/* Estilos base para la página de error 404 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF5ED;

  }
  .e404Container{
    height: 100vh;
    overflow: hidden;
   
  }
  .error-container {
    max-width: 800px;
    height: 190px;
    margin: 50px auto;
    padding: 20px;
    
    border-radius: 5px;
   font-size: 30px;
    text-align: center;
    position: relative;
    top: -400px;
  }
  
  h1 {
    color: #878585;
    top: 0px;
    position: relative;

  }
  
  .e404Text {
    color: rgb(82, 78, 78);
    font-size: 20px;
position: relative;
top:-80px;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 600px) {
    .error-container {
      padding: 10px;
    }
  }
  .imgFooter404{
    position: relative;
    
    background-color: transparent;
    height: 50vh;
 

  }
  .img404{
    position: relative;
    top: 50px;
    width: 100%;
  }

.Footer404Cont{
  position: inherit;
  top: -690px;
}