.border-button{
    width: 100px;
    background-color: white;
    border: 1px solid white;
    color: #47BBC6;
    border-radius: 5px;
}

.next-button {
    margin-top: 30px;
    display: inline-flex;
    height: 42px;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--White, #FFF);
    background: var(--Aguamarina-Primario, #47BBC6);
    color: white;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.next-button:hover {
    background: var(--Aguamarina-Primario, white);
    color: #47BBC6;
}

.navbar-button {
    border: none;
    background-color: white;
    color: gray;
}